@font-face {
  font-family: "Open Sans - Condensed Light";
  src: local("Open Sans - Condensed Light"),
  url('../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf') format('truetype'), 
  url("../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.woff2") format("woff2"),
  url("../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  @include indent();
  @include flex();
  flex-direction: column;
  justify-content: center;
  // min-width: $mobile-width;
  width: 100%;
  max-width: 100%;
  color: #767676;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  background-color: #ffffff;

  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}
