#hidden-content {
    transition: all 2s;
}

.modal {
    display: none;
}

.modal__title {
    @include indent();
    padding: 0.2em;
    margin-bottom: 20px;
    color: #535353;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

.modal__form {
    width: 100%;
    max-width: 100%;
    @include indent();
    @include flex();
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    outline: 1px dashed red;
}

.modal__form-fieldset {
    width: 100%;
    max-width: 100%;
    @include indent();
    border: 0 none;
    margin-bottom: 10px;
    outline: 1px dashed blue;
}

.modal__form-wrapper {
    width: 100%;
    max-width: 100%;
    @include indent();
    @include flex();
    justify-content: center;
}

.modal__form-button {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 none;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__input,
.modal__textarea {
    width: 100%;
    max-width: 100%;
    padding: 0.5em;
    border: 1px solid #c3c3c3;
}

.modal__close {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 27px;
    height: 27px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 7%;
        left: 50%;
        background-color: #ffffff;
        width: 1px;
        height: 22px;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.modal__input--email {
    box-shadow: inset 0 0 13px rgba(228, 106, 106, 0.75);
    border: 1px solid #ff8383;
    color: #ff8383;
}