.page-header {
    @include indent();
    width: 100%;
    max-width: 100%;
    @include flex();
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
    padding: 40px 10px;
    padding-bottom: 65px;
    justify-content: space-between;
}

.page-header__logo {
    @include indent();
    @include flex();
    align-items: center;
    width: 27.3%;
    margin-right: auto;
    margin-top: 27px;

    @include media-tablet {
        width: 40%;
        max-width: 40%;
    }
}

.page-header__contacts {
    @include indent();
    @include flex();
    flex-direction: column;
    align-items: center;
    width: 26.2%;
    margin-left: auto;
    
    & .page-header__contacts-item:last-child {
        align-self: flex-end;
    }

    @include media-tablet {
        width: 40%;
        max-width: 40%;
    }
}

.page-header__contacts-list {
    @include list();
}

.page-header__contacts-item {
    @include indent();
}

.page-header__contacts-link {
    display: block;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }
}

.page-header__contacts-tel {
    color: #767676;
    font-family: "Open Sans - Condensed Light";
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    line-height: 46px;
    text-align: right;
    text-decoration: none;
    letter-spacing: 0.7px;

    padding: 0;
}

.page-header__contacts-feedback {
    color: #767676;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    text-align: right;
    letter-spacing: 0.6px;
    text-decoration: none;
    margin-right: auto;

    border-bottom: 1px dashed #767676;
    padding: 5px 0;
    padding-bottom: 2px;
}