.page-footer {
    @include indent();
    width: 100%;
    max-width: 100%;
    padding-top: 35px;
    @include flex();
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    min-height: 100px;
}

.page-footer__wrapper {
    justify-content: space-between;

    outline: 3px dashed crimson;
}

.page-footer__copyright {
    @include indent();
    @include flex();
    flex-direction: column;

    outline: 2px dashed crimson;
}

.page-footer__paragraph {
    @include indent();
    padding: 0.5em 0;
    padding-bottom: 0;
    color: #ffffff;
}

.page-footer__email {
    display: block;
    // padding: 0.5em;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.35px;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }
}

.page-footer__nav {
    outline: 2px dashed crimson;
    @include indent();
    @include list();
    @include flex();
    flex-direction: column;
    padding-top: 7px;

    margin-right: 130px;
}

.page-footer__nav-item {
    @include indent();
}

.page-footer__link {
    display: block;
    padding: 0;
    margin-bottom: 5px;
    color: #ffffff;
    text-decoration: underline;
    letter-spacing: 0.35px;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }
}

.page-footer__paragraph--dev {
    outline: 2px dashed crimson;
    position: relative;
    max-width: 220px;
    padding-left: 45px;

    & span {
        text-decoration: underline;
    }

    &::before {
        content: "";
        position: absolute;
        top: 15%;
        left: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
        background-image: url("../../img/company.png");
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}