.page-main {
    @include indent();
    width: 100%;
    max-width: 100%;
    @include flex();
    flex-direction: column;
    flex: auto;
    // flex-grow: 2;
    justify-content: center;

    // background-color: pink;
    min-height: 200px;
}