.wrapper {
  width: 100%;
  max-width: $desktop-width;
  min-width: $mobile-width;
  @include indent();
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
  @include flex();
  height: auto;
}

